@{
    ViewData["Title"] = "SummaryBooks";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    <p>¿Qué nuevo libro ha leido?, cúentenos...</p>
</div>

<form class="form-control">
    <div class="mb-3">
        <label for="FormControlInput1" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="FormControlInput1" placeholder="Ingrese el titulo...">
    </div>
    <div class="mb-3">
        <label for="FormControlTextarea1" class="form-label">Resumen</label>
        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
    </div>
    <input class="btn btn-primary form-control" type="submit" value="Publicar"/>
</form>


