@model SummaryBooks.Domain.Summary
@{
    ViewData["Title"] = "Edit - Summaries";
}
<form class="form-control" asp-action="Edit">
    <div class="mb-3">
        <label asp-for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" asp-for="title" placeholder="Ingrese el titulo...">
    </div>
    <div class="mb-3">
        <label asp-for="description" class="form-label">Resumen</label>
        <textarea class="form-control" asp-for="description" rows="3"></textarea>
    </div>
    <input class="btn btn-primary form-control" type="submit" value="Modificar" />
</form>